.card_container {
  background: rgb(5, 0, 83);
  background: linear-gradient(
    90deg,
    rgba(5, 0, 83, 1) 0%,
    rgba(111, 9, 124, 1) 0%,
    rgba(27, 46, 75, 1) 0%,
    rgba(0, 0, 0, 1) 31%,
    rgba(8, 18, 58, 1) 100%
  );
  position: relative !important;
}
.text {
  position: absolute;
  color: white;
  top: 21px;
  left: 25%;
  font-size: 1.2rem;
}
.img {
  width: 50% !important;
}
